body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:990px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:350px;
  top:50px;
  width:640px;
  height:110px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
  line-height:27px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:110px;
}
#u1 {
  position:absolute;
  left:2px;
  top:47px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:350px;
  top:420px;
  width:640px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:636px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:395px;
  top:70px;
  width:550px;
  height:70px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:30px;
  color:#FF0099;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:70px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:830px;
  top:170px;
  width:150px;
  height:240px;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u6_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:152px;
  height:242px;
}
#u6_img.mouseOver {
}
#u6.mouseOver {
}
#u6_img.mouseDown {
}
#u6.mouseDown {
}
#u7 {
  position:absolute;
  left:2px;
  top:112px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -moz-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
}
#u8 {
  position:absolute;
  left:855px;
  top:195px;
  width:100px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:855px;
  top:265px;
  width:100px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:absolute;
  left:855px;
  top:230px;
  width:100px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:855px;
  top:375px;
  width:100px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12 {
  position:absolute;
  left:740px;
  top:170px;
  width:70px;
  height:15px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:740px;
  top:375px;
  width:70px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15 {
  position:absolute;
  left:535px;
  top:185px;
  width:75px;
  height:16px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:660px;
  top:375px;
  width:70px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u18 {
  position:absolute;
  left:400px;
  top:204px;
  width:75px;
  height:16px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:395px;
  top:230px;
  width:100px;
  height:16px;
}
#u21 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22 {
  position:absolute;
  left:395px;
  top:246px;
  width:100px;
  height:16px;
}
#u23 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u22_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24 {
  position:absolute;
  left:395px;
  top:262px;
  width:100px;
  height:16px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:395px;
  top:278px;
  width:100px;
  height:16px;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28 {
  position:absolute;
  left:395px;
  top:294px;
  width:100px;
  height:16px;
}
#u29 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u28_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u30 {
  position:absolute;
  left:395px;
  top:310px;
  width:100px;
  height:16px;
}
#u31 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u30_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u32 {
  position:absolute;
  left:580px;
  top:220px;
  width:90px;
  height:16px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:580px;
  top:240px;
  width:200px;
  height:100px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
